/*
* Colors and such!
*/
@bg: #F9F9F9;
@light: #FFF;
@dark: #121212;
@darkish: #484848;
@darkgray: #AAAAAA;
@gray: #F5F5F5;

@yellow: #FDB400;
@blue: #128AFF;
@red: #FE5655;
@green: #32B78C;

/*
* Main stuff
*/
body {
    margin: 0px;
    padding: 0px;

    /*background: url("/static/img/blueprint.png");*/
    background: url("http://subtlepatterns.com/patterns/light_honeycomb.png");
    background-size: 135px 135px;

    color: @dark;
    cursor: default;
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
}

.init_loading {
    margin: 150px auto 0px auto;
    width: 200px;
    text-align: center;
    font-size: 36px;
}

.ui_screen {
    display: none;
    background-color: @dark;
    opacity: .8;

    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    z-index: 2;
}

.ui_list {
    height: 100px;
    width: 100%;
    border: 1px solid @dark;
    padding: 0px;
    overflow-y: auto;

    table {
        width: 100%;
        margin: 0px;
        border-spacing: 0px 0px;

        td {
            padding: 10px;
            border-bottom: 1px solid @gray;
            cursor: default;
        }
        
        tr.selected {
            background: @blue;
            color: @light;
        }

        tr:last-child {
            td {
                border-bottom: 0px;
            }
        }
    }

    .ui_list_text {
        font-weight: 400;
        text-align: center;
        height: 100px;
        line-height: 100px;
        font-size: 18px;
    }
}

.ui_list_title {
    padding: 3px 0px 3px 0px;
}

input {
    font-family: Helvetica-Neue, Helvetica, Arial, sans-serif;
    font-size: 18px;
    border: 0px;
    font-weight: 300;
    outline: none;
}

input[type=text] {
    display: block;
    width: 100%;
    padding: 10px 0px 10px 0px;
    border-bottom: 1px dotted @darkish;
}

input[type=submit] {
    width: 100px;
    background: @blue;
    color: @light;
    padding: 5px;
    margin: 5px 0px 5px 0px;
}

input[type=submit]:not([disabled]):hover {
    background: darken(@blue, 5%);
}

input[type=submit]:not([disabled]):active {
    background: darken(@blue, 5%);
    box-shadow: inset 0px 0px 15px @dark;
}

input[disabled] {
    background: @gray;
    color: @dark;
}

.no_display {
    display: none;
}

/*
* Main menu
*/
.menu_title {
    position: fixed;
    top: 5px;
    left: 20px;
    padding: 10px;

    font-size: 72px;

    .blue {
        color: @blue;
    }
}

.menu_items {
    position: fixed;
    top: 175px;
    left: 150px;
    margin: 5px auto 0px auto;

    a {
        display: block;
        color: @dark;
        text-decoration: none;
        padding: 15px;
        cursor: default;

        font-size: 32px;
    }

    a:hover {
        color: @blue;
    }
}

.menu_box {
    background: @light;
    border-radius: 3px;
    box-shadow: 0px 0px 50px @dark;

    z-index: 2;
    position: fixed;
    margin-left: -200px;
    top: 150px;
    left: 50%;
    width: 400px;
    padding: 5px 10px 10px 10px;
    display: none;

    h1 {
        display: block;
        border-bottom: 1px solid @gray;
        
        font-size: 18px;
        font-weight: 400;
        margin: 0px 0px 5px 0px;
        padding: 5px;
    }
}

.menu_box.less_shadow {
    box-shadow: 0px 0px 15px @dark;
}

.menu_invalid {
    display: none;
    color: @red;
    font-weight: 400;
    font-size: 12px;
}

.room_list {
    width: 100%;
    border-spacing: 5px 5px;

    td {
        padding: 20px 10px 20px 10px;
        text-align: center;
        color: @darkgray;
    }

    td.joined {
        font-weight: 400;
        color: @light;
    }
}

.game_grid {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 50px;
    overflow-x: hidden;
    overflow-y: hidden;

    background: url("http://subtlepatterns.com/patterns/fabric_plaid.png");
    background-size: 100px 100px;
}

.game_menu {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 50px;
    line-height: 50px;

    background: @light;
    border-top: 1px solid @darkgray;
    box-shadow: 0px 0px 15px @darkgray;
}

.game_fullscreen_request {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 1;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 5px;
    
    background: @yellow;
    color: @light;

    a {
        color: @red;
        font-weight: 400;
        text-decoration: none;
    }

    a.close {
        display: block;
        float: right;
        color: @light;
        font-size: 22px;
        line-height: 25px;
        margin-right: 5px;
    }
}

.game_canvas {
    margin: 0px auto 0px auto;
}

.game_menu_item {
    display: inline-block;
    font-size: 18px;
    text-decoration: none;
    padding: 0px 15px 0px 15px;
    color: @dark;
}

.game_menu_status {
    display: inline-block;
    font-size: 18px;
    padding: 0px 15px 0px 15px;
    color: @dark;
}

.game_menu_item:hover {
    background: @blue;
    color: @light;
}

.game_menu_right {
    float: right;
}

.game_menu_popover {
    display: none;
    position: fixed;
    bottom: 65px;
    left: 15px;
    width: 200px;
    background: @light;
    border: 1px solid @darkgray;
    z-index: 3;
    box-shadow: 0px 0px 20px @darkgray;
    border-radius: 3px;

    table {
        border-spacing: 0px 0px;
        font-size: 20px;
        width: 100%;
        td {
            padding: 10px 5px 10px 5px;
            border-bottom: 1px solid @gray;
        }
        tr {
            td:nth-child(1) {
                font-size: 22px;
                text-align: center;
            }
            td:nth-child(2) {
                text-align: left;
            }
            td:nth-child(3) {
                font-size: 18px;
                color: @darkgray;
            }
        }
        tr:last-child {
            td {
                border-bottom: 0px;
            }
        }
        tr:hover {
            background: @blue;
            color: @light;
        }
    }

    .game_menu_popover_section {
        display: none;
    }
}

.game_menu_popover:after, .arrow_box:before {
	top: 100%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.game_menu_popover:after {
	border-top-color: @light;
	border-width: 15px;
	left: 50px;
	margin-left: -15px;
}
.game_menu_popover:before {
	border-top-color: @darkgray;
	border-width: 16px;
	left: 50%;
	margin-left: -16px;
}
